
:root{
    
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
--line: hsl(215, 32%, 27%);
--white: hsl(0, 0%, 100%);
}
body{
    font-family: "OutFit",sans-serif;
    font-size: 10px;
    background-color: var(--main-bg);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.card{
    width: 450px;
    background-color:var(--card-bg);
color:var(--soft-blue);
padding:25px 25px;
border-radius: 2%;
font-weight: 300;
line-height: 26px;
margin: 50px auto;
position: relative;
}
.card h2 {
font-weight:600;    
color:var(--white);
font-size:22px;
line-height:20px;
margin:20px 0 10px 0;
}

.card h2:hover{
    color:var(--cyan);
}
.nft-card-image{
    width: 100%;
}

.container{
    display:flex;
justify-content:space-between;
align-items:center;
font-weight: 400;
margin:10px 0;
border-bottom: 1px solid var(--line);
padding-bottom: 20px;
}
.time,
.price{
display:flex;
align-items:center;

}

.time img,.price img{
    margin-right: 5px;
}
.price:first-child{
    color: var(--cyan);
}

.img-overlay{
    background-color: var(--cyan);
    position: absolute;
    height: 400px;
    width: 400px;
    top: 25px;
    left:25px;
    border-radius: 2%;
opacity: 0;
display:flex;
justify-content:center;
align-items:center;
}

.img-overlay:hover{
    opacity: 0.6;
    transition: 1s;

}
.creator{
    display: flex;
    align-items: center;
}
.creator img{
    width:50px;
    margin-right: 20px;
    border:2px solid var(--white);
    border-radius: 100%;
}
.creator span{
    color:var(--white);
}
.creator span:hover{
    color:var(--cyan);
}

